// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
/* You can add global styles to this file, and also use other style files */
@use './styles/common.scss';
@use './styles/fonts.scss';
@use './styles/responsive.scss';

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}


body {
  color-scheme: light;
  margin: 0;
  min-height: 100%;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Roboto', sans-serif;
}
