@if (latestArticles().length) {
<section class="featured-posts">
    @for (article of latestArticles(); track article.id) {
    <article class="post-card">
        <div class="post-card-content">
            <p class="post-category">{{ article.date }}</p>

            <h2>{{ article.title }}</h2>

            <p>
                {{ article.content }}
            </p>
        </div>

        <div class="post-card-image">
            <img [src]="article.image" [alt]="article.title">
        </div>
    </article>
    }

    <p class="posts-link">
        <a routerLink="/blog">Browse all posts</a>
    </p>
</section>
}