<section class="projects-section">
    <h2>Hobby projects</h2>

    <div class="Hobby-right-header">
        <p>
            Web3 devs transfering real-asset into digital world through power of Blockchain!
        </p>
    </div>

    <div class="projects-gallery">
        <div class="gallery-item gallery-item-1">
            <a href="https://nstu.ru/news/news_more?idnews=170745" target="_blank" class="gallery-link">
                <img src="assets/images/hobby-1.webp" alt="Creative portrait project">

                <div class="gallery-overlay gallery-overlay-image">
                    <p>AVTF student showed his developments at the World Youth Festival</p>
                </div>
            </a>
        </div>

        <div class="gallery-item gallery-item-2">
            <img src="assets/images/blockchainIcon.webp" alt="Brand identity practice">
            <div class="gallery-overlay">
                <p>Blockchain Architecture</p>
            </div>
        </div>

        <div class="gallery-item gallery-item-3">
            <img src="assets/images/blockchainIcon2.webp" alt="Web layout experiment">
            <div class="gallery-overlay">
                <p>Smart Contracts As Middle man role</p>
            </div>
        </div>

        <div class="gallery-item gallery-item-4">
            <img src="assets/images/blockchainIcon3.webp" alt="Visual composition study">
            <div class="gallery-overlay">
                <p>Web3 Applications integeration with Blockchain</p>
            </div>
        </div>
    </div>
</section>