<section class="projects-section">
    <h2>Hobby projects</h2>

    <div class="Hobby-right-header">
        <p>
            Web3 devs transferring real-asset into the digital world through the power of Blockchain!
        </p>
    </div>

    <div class="projects-gallery">
        @for (project of hobbyProjects; track project.id) {
        <div class="gallery-item gallery-item-{{ project.id }}">
            <a href="{{ project.link }}" target="_blank" class="gallery-link">
                <img [src]="project.image" [alt]="project.title">
                <div [class.gallery-overlay-image]="project.featured" class="gallery-overlay">
                    <p>{{ project.description }}</p>
                </div>
            </a>
        </div>
        }
    </div>
</section>