<section class="hero" id="about">
    <div class="hero-content">
        <h1>
            Hello! I’m Tarek,
            <br>
            a Full-stack Web3 developer
        </h1>

        <p class="hero-text">
            I build blockchain-based web applications, smart contracts,
            and digital products focused on education, tokenization
            and Web3 services.
        </p>

        <a class="hero-link" href="#skills">More about me -&gt;</a>
    </div>

    <aside class="hero-media">
        <div class="hero-photo-mask">
            <img src="assets/images/avatar.webp" alt="Tarek avatar">
        </div>
    </aside>
</section>