<section class="work-section">
    <div class="work-intro">
        <h2>My work</h2>
        <p class="projects-intro">
            Selected personal and startup blockchain projects focused on Web3 services, education solutions, and
            Tokenization Real-asset World.
        </p>
    </div>

    <div class="work-timeline">
        @for (work of works; track work.id){
        <article class="timeline-item">
            <div class="timeline-icon">
                <img [src]="work.icon" [alt]="work.title">
            </div>

            <div class="timeline-content">
                <p class="timeline-date">{{ work.date }}</p>
                <h3>{{ work.title }}</h3>
                <p>{{ work.description }}</p>
            </div>
        </article>
        }
    </div>
</section>