<section class="work-section">
    <div class="work-intro">
        <h2>My work</h2>
        <p class="projects-intro">
            Selected personal and startup blockchain projects
            focused on Web3 services, education solutions,
            and Tokenization Real-asset World.
        </p>
    </div>

    <div class="work-timeline">
        <article class="timeline-item">
            <div class="timeline-icon">
                <img src="assets/images/icon-webwave3.webp" alt="WebWave3 icon">
            </div>

            <div class="timeline-content">
                <p class="timeline-date">2025 - Present</p>
                <h3>WebWave3.io</h3>
                <p>
                    A startup focused on blockchain-powered digital products
                    and Web3 finetech services.
                </p>
            </div>
        </article>

        <article class="timeline-item">
            <div class="timeline-icon">
                <img src="assets/images/icon-Neti-Cryptogate.webp" alt="Education payment icon">
            </div>

            <div class="timeline-content">
                <p class="timeline-date">2024 - Present</p>
                <h3>Education Payment Platform</h3>
                <p>
                    A blockchain-based concept for education payments
                    using smart contracts and digital transactions.
                </p>
            </div>
        </article>

        <article class="timeline-item">
            <div class="timeline-icon">
                <img src="assets/images/icon-NetiLink.webp" alt="Qualification profile icon">
            </div>

            <div class="timeline-content">
                <p class="timeline-date">2024 - Present</p>
                <h3>NETI-Link Student Qualification Profile Service</h3>
                <p>
                    A secure blockchain-oriented service for presenting
                    and verifying student achievements, helps students
                    to find an job opportunities based on their activity and achievments!.
                </p>
            </div>
        </article>
    </div>
</section>