<div class="article-dialog-backdrop" (click)="onClose()">
    <div class="article-dialog-body" (click)="$event.stopPropagation()">
        <button type="button" class="article-dialog-close" aria-label="Close article form" (click)="onClose()">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </button>

        <section class="blog-form-section">
            <h2>{{ formTitle() }}</h2>

            <form class="blog-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group-light">
                    @let isTitleCtrlInvalid = hasError('title');

                    <label for="title">Заголовок <span class="required-mark">*</span></label>

                    <p>
                        <input id="title" type="text" placeholder="Заголовок статьи" formControlName="title"
                            [class.error-input]="isTitleCtrlInvalid">
                    </p>

                    @if (isTitleCtrlInvalid) {
                    <span class="error-message">{{ getControlError('title') }}</span>
                    }
                </div>

                <div class="form-group-light">
                    @let isContentCtrlInvalid = hasError('content');

                    <label for="content">Текст статьи <span class="required-mark">*</span></label>

                    <p>
                        <textarea id="content" rows="8" placeholder="Текст статьи" formControlName="content"
                            [class.error-input]="isContentCtrlInvalid"></textarea>
                    </p>

                    @if (isContentCtrlInvalid) {
                    <span class="error-message">{{ getControlError('content') }}</span>
                    }
                </div>

                <p class="blog-form-actions">
                    <button type="submit" [disabled]="form.invalid">
                        {{ saveButtonTitle() }}
                    </button>

                    <button type="button" class="blog-form-cancel-btn" (click)="onClose()">
                        Отмена
                    </button>
                </p>
            </form>
        </section>
    </div>
</div>