<header class="index-header">
    <!-- Navigation -->
    <nav class="navbar">
        <div class="navbar-logo">
            <a routerLink="/">codeX-folio</a>
        </div>

        <ul class="nav-links">
            <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li><a routerLink="/blog" routerLinkActive="active-link">Blog</a></li>
            <a [routerLink]="[]" fragment="contacts">Contact</a>
        </ul>
    </nav>
</header>